nav.navbar.navbar-expand-lg.navbar-light(style='background: #9C27B0;color: white !important;border: none;border-radius:2px;border-top:none')
    a.navbar-brand(href='#' style='color:#212121') 0xdeadbeef
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/')
                    | Anasayfa 
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='login') Giriş Yap
            li.nav-item
                a.nav-link(href='signup') Kayıt Ol
            li.nav-item
                a.nav-link(href='#') Çıkış Yap