<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/jquery.min.js')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='css/home.css')
        link(href='https://fonts.googleapis.com/css?family=Lato|Roboto:300&display=swap' rel='stylesheet')
        title 0xdeadbeef
    body(style='position:relative; padding-bottom: 30px')
        div.container
            header
                include header.jade
            section(style='margin-top:15px;padding: 10px;')
                h3 Profil
                div.container
                    div.row
                        div.col-12.col-lg-4
                            form(style='border:1px solid #ddd;padding: 10px;margin-top:15px')
                                div.form-group
                                    label(for='username') Kullanıcı Adı
                                    input.form-control(id='username' value='sese' name='username' disabled)
                                div.form-group
                                    label(for='password') Şifre
                                    input.form-control(type='password' id='password' value='123456' name='password')
                                div.form-group
                                    label(for='about') Hakkında
                                    input.form-control(id='about' value='Ben Serkan Erip' name='password')
                                div.form-group
                                    label(for='email') Email
                                    input.form-control(type='email' id='email' value='serkanerip@gmail.com' name='email')
                                input.btn.btn-block.btn-warning(value='Düzenle')
                        div.col-8
                            .row
                                div.col-12
                                    h5 Beğendiklerim
                                        ul
                                            li 
                                                a(href='/posts/5' style='font-size:13px;') Kodlama Ve Tasarım
                                div.col-12
                                    h5 Oluşturduklarım
                                        ul
                                            li 
                                                a(href='/posts/5' style='font-size:13px;') Kodlama Ve Tasarım
            footer.footer.mt-5(style='position:absolute;bottom:0;left:0;width:100%;text-align:center')
                include footer.jade