
.container-fluid {
    padding: 3px !important;
    padding-top: 0px !important;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}

.nav-link {
    color: white !important;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}

.navbar-brand {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

.card {
    margin-bottom: 5px;
}

.card .header p {
    color: #009688;
}

.devamini-oku {
    background: #212121 !important;
}